@font-face {
    font-family: 'silkscreennormal';
    src: url('fontes/slkscr-webfont.woff2') format('woff2'),
         url('fontes/slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*,*::before, *::after {
	box-sizing: border-box;
	font-family: 'silkscreennormal';
	margin: 0;
	padding: 0;
}

h1 {
	position: absolute;
	left: 44.2%;
	padding-top: 45px;
	font-size: 2.5em;
}

section {
	margin-top: 100px;
	font-size: 2em;
	letter-spacing: 0.1px;
	font-weight: bold;
	padding: 40px 40px;
	line-height: 125%;
}

/*Portfolio Introduction*/

#animCanvas {
background: linear-gradient(180deg, #ff0000, #1e90ff, #ffff00);
background-size: 600% 600%;
animation: BGSwitch 20s ease infinite;
width: 101%;
height: 650px;
}

@keyframes BGSwitch {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

#myName
{
	position: relative;
	left: 10%;
	top: 20%;
	font-size: 6.5em;
}

#devText
{
	position: relative;
	left: 30%;
	top: 35%;
	font-size: 3.5em;
}
/*Dark theme*/

body {
	background-color: #e8eae6;
	overflow-x: hidden;
}

.dark{
	background-color: #1a2228;
	color: white;
}

.dark .cards
{
	border-color: white;
	box-shadow: 10px 10px 25px #999999;
}

.dark .squares
{
	box-shadow: 10px 10px 25px #999999;
}

/*Navbar*/

#moon {
	width: 40px; 
	height: 40px;
	cursor: pointer;
	transition: color 0.2s linear;
}

#git {
	width: 40px;
	height: 40px;
	transition: color 0.2s linear;
}

#git:hover {
	color: #999999;
}

#moon:hover {
	color: #FFF36D;
}

.navbar {
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	width: 100%;
	height: 50px;
	background-color: #232323;
	z-index: 99;
}

.nav-item {
	list-style: none;
	display: inline-block;
	position: relative;
	font-size: 1.5em;
	font-weight: 500;
	bottom: 15px;
	padding-left: 40px;
}

.nav-link {
	color: white;
	text-align: center;
	text-decoration: none;
	position: relative;
	transition: color 0.2s linear;
}

.nav-link:hover:not(.first) {
	color: #999999;
}

.logo {
	bottom: 2px;
}

.nav-item:first-child {
	padding-right: 8em;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}
.content {
	padding: 16px;
}

.sticky + .content {
	padding-top: 60px;
}

.main {
	width: 45px;
	height: 45px;
	text-align: center;
	position: relative;
	top: 15px;
	right: 10px;
}

.first {
	right: 70px;
}

/*Skill Cards*/

#skills {
	display: flex;
	justify-content: space-evenly;
	margin-top: 150px;
}

.cards {
	width: 250px;
	height: 350px;
	background-color: white;
	text-align: center;
	padding-top: 15px;
	font-size: 1.4em;
	border-radius: 10%;
	border: 5px solid #232323;
	font-weight: 700;
	box-shadow: 10px 10px 25px #555555;
} 

.cards p {
	padding: 20px;
	font-size: 1em;
}

.card1 {
	background-color: rgba(255,0,0,0.8);
}


.card2 {
	background-color: rgba(30,144,255, 0.8);
}

.card3 {
	background-color: rgba(255,255,0,0.8);
}

/*Projects*/

#projects {
	display: grid;
	grid-template-rows: 500px 500px;
	grid-template-columns: 800px;
	grid-gap:50px;
	justify-content: center;
	margin-top: 150px;
	margin-bottom: 100px;	
}

.titleProjects
{
	left: 41%;
}

.squares {
	background-color: #999999;
}

.btn {
	position: relative;
	display: inline-block;
	left: 40%;
	top: 85%;
	padding: 15px;
	background-color: white;
	color: #232323;
	border-radius: 10%;
	border: 4px solid #232323;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.2s linear;
	z-index: 88;
}

.btn:hover, #submitBtn:hover
{
	background-color: #999999;
	color: #e8eae6;
}

.squares
{
	background-image: url("imagens/Background.png");
	background-size: cover;
	box-shadow: 10px 15px 35px #555555;
}

#square1
{
	background-image: url("imagens/financexPrint.png");
}

#square2
{
	background-image: url("imagens/MHWheelPrint.png");
}

#info
{
	width: 800px;
	height: 300px;
	background-color: rgba(35, 35, 35, 0.8);
	position: relative;
	top: 150px;
	color: white;
	font-size: 2em;
}


/*Contact Section*/

#contact-me {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	background-color: #232323;
	color: white;
	height: 850px;
	font-size: 1.5em;
	}

.titleContact {
	padding-bottom: 30px;
	padding-top: 50px;
	font-size: 3em;
}

#name, #email, #subject {
	width: 400px;
	height: 30px;
	font-size: 0.8em;
}

label ~ input
{
	margin-bottom: 15px;
}

#message
{
	font-size: 0.6em;
}

#submitBtn
{
	position: absolute;
	left: 45%;
	margin-top: 20px;
	padding: 15px;
	background-color: white;
	color: #232323;
	border-radius: 10%;
	border: 4px solid #232323;
	font-size: 0.9rem;
	cursor: pointer;
	transition: color 0.2s linear;
	z-index: 88;
}

@media (max-width: 768px)
{
	#myName
	{
		font-size: 3em;
		left: 18%;
	}

	.first {
		right: 1px;
	}

	#devText
	{
		font-size: 1em;
	}

	/*Navbar*/
	
	.logo
	{
		top: 0px;
	}

	.navbar
	{
		height: 25px;
	}
	.nav-item
	{
		font-size: 0.5em;
		padding-left: 5px;
		bottom: 8px;
	}

	.nav-item:first-child {
		padding-right: 0em;
	}

	.main
	{
		width: 20px;
		height: 20px;
		top: 7px;
		right: 5px;
	}

	.first
	{
		right: 0px;
	}

	#moon 
	{
		width: 15px; 
		height: 20px;
	}

	#git 
	{
		width: 15px; 
		height: 20px;
	}
	/*Cards*/
	#skills {
		flex-direction: column;
		align-items: center;
	}

	.cards
	{
		margin-bottom: 100px;
	}

	h1 
	{
		left: 31%;
	}

	.titleSkills
	{
		left: 29%;
	}

	/*Projects section*/

	.titleProjects
	{
		left: 20%;
	}

	#projects
	{
		grid-template-rows: 275px 275px;
		grid-template-columns: 275px;
	}

	#info
	{
	width: 275px;
	height: 180px;
	position: relative;
	top: 70px;
	font-size: 1em;
	}

	.btn {
		left: 31%;
		padding: 5px;
		font-size: 0.7rem;
	}

	/*Contact-me section*/
	#contact-me 
	{
		height: 850px;
		font-size: 1em;
	}

	.titleContact 
	{
		padding-bottom: 30px;
		padding-top: 50px;
		font-size: 2.2em;
	}

	#name, #email, #subject 
	{
		width: 270px;
	}

	#submitBtn
{
	left: 30%;
}
}